[Desktop Entry]
Version=1.0
Type=Application
Name=hls
Comment=
Exec=ffmpeg -i input.mp4 -codec: copy -start_number 0 -hls_time 10 -hls_list_size 0 -f hls output.m3u8
Icon=
Path=
Terminal=false
StartupNotify=false
